apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    run: {{ .Release.Name }}-shinyapp
spec:
  ports:
    - name: access
      protocol: TCP
      port: 80
      targetPort: {{ .Values.appconfig.proxyport }}
    - name: management
      port: 9091
      targetPort: management    # resolves to containerPort 9091
      protocol: TCP
  selector:
    release: {{ $.Release.Name }}
