apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.20.0 ()
    reloader.stakater.com/auto: "true"
  creationTimestamp: null
  labels:
    io.kompose.service: {{ .Release.Name }}-celery-beat
    name: {{ .Release.Name }}-celery-beat
  name: {{ .Release.Name }}-celery-beat
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: {{ .Release.Name }}-celery-beat
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.20.0 ()
      creationTimestamp: null
      labels:
        io.kompose.service: {{ .Release.Name }}-celery-beat
        name: {{ .Release.Name }}-celery-beat
        app: stackn-studio
    spec:
      automountServiceAccountToken: false
      initContainers:
        - name: wait-for-db
          image: postgres
          command: ['sh', '-c', 'until pg_isready --host={{ .Values.postgresql.fullnameOverride }} --port={{ .Values.postgresql.primary.service.ports.postgresql }}; do echo waiting for database; sleep 5; done;']
          resources:
            limits:
              cpu: "100m"
              memory: "512Mi"
            requests:
              cpu: "100m"
              memory: "512Mi"
        - name: wait-for-studio
          image: busybox:1.28.4
          command: ['sh', '-c', "until nslookup {{ .Release.Name }}-{{ .Values.studio.servicename }}; do echo waiting for {{ .Release.Name }}-{{ .Values.studio.servicename }} service; sleep 30; done"]
          resources:
            limits:
              cpu: "100m"
              memory: "512Mi"
            requests:
              cpu: "100m"
              memory: "512Mi"
      containers:
      - args:
        - sh
        - ./scripts/run_beat.sh
        {{- if .Values.studio.securityContext.enabled }}
        securityContext:
          runAsUser: {{ .Values.studio.securityContext.runAsUser }}
          runAsGroup: {{ .Values.studio.securityContext.runAsGroup }}
          allowPrivilegeEscalation: {{ .Values.studio.securityContext.allowPrivilegeEscalation }}
          privileged: {{ .Values.studio.securityContext.privileged }}
          capabilities:
            drop:
              - all
        {{- end }}
        env:
        - name: BASE_PATH
          value: "/app"
        - name: GET_HOSTS_FROM
          value: dns
        - name: DEBUG
          value: "false"
        - name: POSTGRES_DB
          value: {{ .Values.postgresql.global.postgresql.auth.database }}
        - name: POSTGRES_USER
          value: {{ .Values.postgresql.global.postgresql.auth.user }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: postgresql-password
              {{- else }}
              name: {{ include "stackn.postgres.secretName" . }}
              key: password
              {{- end }}
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "stackn.redis.secretName" . }}
              key: {{ include "stackn.redis.secretPasswordKey" . }}
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: rabbitmq-password
              {{- else }}
              name: {{ include "stackn.rabbit.secretName" . }}
              key: rabbitmq-password
              {{- end }}
        - name: DJANGO_SECRET
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: django-secret-key
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: django-secret-key
              {{- end }}
        - name: DJANGO_ADMIN_URL_PATH
          value: {{ .Values.studio.djangoAdminUrlPath }}
        {{ if .Values.studio.emailService.enabled }}
        - name: GOOGLE_SERVICE_ACCOUNT_TYPE
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-type
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-type
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PROJECT_ID
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-project-id
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-project-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_ID
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-private-key-id
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-private-key-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-private-key
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-private-key
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-client-email
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-client-email
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_ID
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-client-id
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-client-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_AUTH_URI
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-auth-uri
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-auth-uri
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_TOKEN_URI
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-token-uri
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-token-uri
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_AUTH_PROVIDER_X509_CERT_URL
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-auth-provider-x509-cert-url
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-auth-provider-x509-cert-url
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_X509_CERT_URL
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-client-x509-cert-url
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-client-x509-cert-url
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_UNIVERSE_DOMAIN
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.environment "remote" }}
              name: serve-dev-bitwarden-secret
              key: email-google-service-account-universe-domain
              {{- else }}
              name: {{ include "stackn.secretName" . }}
              key: email-google-service-account-universe-domain
              {{- end }}
        {{- end }}
        image: {{ .Values.studio.image.repository }}
        imagePullPolicy: {{ .Values.studio.image.pullPolicy }}
        name: {{ .Release.Name }}-celery-beat
        resources:
          limits:
            cpu: "500m"
            memory: "4Gi"
          requests:
            cpu: "100m"
            memory: "512Mi"
        volumeMounts:
          - mountPath: /app/studio/settings.py
            subPath: settings.py
            name: {{ .Release.Name}}-settings-configmap
      restartPolicy: Always
      volumes:
      - name: {{ .Release.Name}}-settings-configmap
        configMap:
          name: {{ .Release.Name}}-settings-configmap
          items:
          - key: settings.py
            path: settings.py

status: {}
