{{- if .Values.celeryFlower.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    io.kompose.service: {{ .Release.Name }}-celery-flower
    name: {{ .Release.Name }}-celery-flower
  name: {{ .Release.Name }}-celery-flower
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: {{ .Release.Name }}-celery-flower
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.20.0 ()
      creationTimestamp: null
      labels:
        io.kompose.service: {{ .Release.Name }}-celery-flower
        name: {{ .Release.Name }}-celery-flower
    spec:
      automountServiceAccountToken: false
      containers:
      - args:
          - sh
          - ./scripts/run_flower.sh
        {{- if .Values.studio.securityContext.enabled }}
        securityContext:
          runAsUser: {{ .Values.studio.securityContext.runAsUser }}
          runAsGroup: {{ .Values.studio.securityContext.runAsGroup }}
          allowPrivilegeEscalation: {{ .Values.studio.securityContext.allowPrivilegeEscalation }}
          privileged: {{ .Values.studio.securityContext.privileged }}
          capabilities:
            drop:
              - all
        {{- end }}
        env:
        - name: BASE_PATH
          value: "/app"
        - name: GET_HOSTS_FROM
          value: dns
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: postgresql-password
              {{- else }}
              name: {{ include "studio.postgresql.secretName" . }}
              key: password
              {{- end }}
        - name: POSTGRES_USER
          {{- if .Values.bitwarden.enabled }}
          valueFrom:
            secretKeyRef:
              name: serve-bitwarden-secret
              key: postgresql-username
          {{- else }}
          value: {{ .Values.postgresql.auth.user }}
          {{- end }}
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: rabbitmq-password
              {{- else }}
              name: {{ template "studio.secretName" . }}
              key: rabbitmq-password
              {{- end }}
        - name: RABBITMQ_HOST
          value: {{ .Release.Name }}-rabbitmq
        - name: RABBITMQ_USER
          value: {{ include "studio.rabbitmq.username" . }}
        - name: REDIS_HOST
          value: {{ .Release.Name }}-redis
        {{- if .Values.chartcontroller.addSecret }}
        - name: KUBECONFIG
          value: {{ .Values.studio.kubeconfig_file | quote }}
        {{- end }}
        - name: DJANGO_SECRET
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: django-secret-key
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: django-secret-key
              {{- end }}
        {{ if .Values.studio.emailService.enabled }}
        - name: GOOGLE_SERVICE_ACCOUNT_TYPE
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-type
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-type
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PROJECT_ID
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-project-id
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-project-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_ID
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-private-key-id
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-private-key-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-private-key
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-private-key
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-client-email
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-client-email
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_ID
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-client-id
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-client-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_AUTH_URI
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-auth-uri
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-auth-uri
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_TOKEN_URI
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-token-uri
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-token-uri
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_AUTH_PROVIDER_X509_CERT_URL
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-auth-provider-x509-cert-url
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-auth-provider-x509-cert-url
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_X509_CERT_URL
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-client-x509-cert-url
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-client-x509-cert-url
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_UNIVERSE_DOMAIN
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-universe-domain
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-universe-domain
              {{- end }}
        {{- end }}
        - name: DJANGO_ADMIN_URL_PATH
          value: {{ .Values.studio.djangoAdminUrlPath }}
        image: {{ .Values.studio.image.repository }}:{{ .Values.studio.image.tag }}
        imagePullPolicy: {{ .Values.studio.image.pullPolicy }}
        name: {{ .Release.Name }}-celery-worker
        resources:
          limits:
            cpu: {{ .Values.celeryWorkers.resources.limits.cpu }}
            memory: {{ .Values.celeryWorkers.resources.limits.memory }}
          requests:
            cpu: {{ .Values.celeryWorkers.resources.requests.cpu }}
            memory: {{ .Values.celeryWorkers.resources.requests.memory }}
        volumeMounts:
          {{- if .Values.chartcontroller.addSecret }}
          - name: config
            mountPath: {{ .Values.studio.kubeconfig_dir | quote }}
            readOnly: true
          {{- end }}
          - mountPath: /app/studio/settings.py
            subPath: settings.py
            name: {{ .Release.Name}}-settings-configmap
      restartPolicy: Always
      volumes:
      {{- if .Values.chartcontroller.addSecret }}
      - name: config
        secret:
          secretName: {{ .Release.Name }}-chart-controller-secret
      {{- end }}
      - name: {{ .Release.Name}}-settings-configmap
        configMap:
          name: {{ .Release.Name}}-settings-configmap
          items:
          - key: settings.py
            path: settings.py

status: {}
{{- end }}
