apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    io.kompose.service: {{ .Release.Name }}-studio
    name: {{ .Release.Name }}-studio
  name: {{ .Release.Name }}-studio
spec:
  replicas: {{ .Values.studio.replicas }}
  strategy:
    type: {{ .Values.studio.strategy.type }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-studio
  template:
    metadata:
      labels:
        io.kompose.service: {{ .Release.Name }}-studio
        name: {{ .Release.Name }}-studio
        web: studio-web
        app: studio-app
        allow-api-access: "true"
        networking/allow-internet-egress: "true"
    spec:
      automountServiceAccountToken: true
      serviceAccountName: {{ include "common.names.fullname" .}}
      securityContext:
        fsGroup: {{ .Values.studio.securityContext.fsGroup }}
      initContainers:
        {{ if and .Values.studio.debug .Values.studio.media.storage.mountStudio }}
        - name: volume-permissions
          image: busybox
          command: ['sh', '-c', 'chown -R 1000 {{ .Values.studio.media.mount_path }} && chgrp -R 1000 {{ .Values.studio.media.mount_path }}']
          volumeMounts:
          - name: mediavol
            mountPath: {{ .Values.studio.media.mount_path }}
          securityContext:
            runAsUser: 0
            runAsGroup: 0
            runAsNonRoot: false
        {{ end }}
        - name: wait-for-db
          image: postgres
          command: ['sh', '-c', 'until pg_isready --host={{ .Values.postgresql.fullnameOverride }} --port={{ .Values.postgresql.primary.service.ports.postgresql }}; do echo waiting for database; sleep 2; done;']
          resources:
            limits:
              cpu: "100m"
              memory: "512Mi"
            requests:
              cpu: "100m"
              memory: "512Mi"
      containers:
      - args:
        - sh
        {{ if eq .Values.environment "local" }}
        - -c
        - "/usr/sbin/sshd -D"
        {{ else }}
        - scripts/run_web.sh
        {{ end }}
        ports:
        - containerPort: 8080
        {{- if eq .Values.environment "local" }}
        - containerPort: 22
        {{- end }}
        env:
        - name: DEBUG
        {{- if .Values.studio.debug }}
          value: "true"
        {{- else }}
          value: "false"
        {{- end }}
        - name: INIT
          value: {{ .Values.studio.init | quote }}
        - name: RESET_DB
          value: {{ .Values.studio.reset_db | quote }}
        - name: STUDIO_STORAGECLASS
          value: {{ include "studio.storageclass" . }}
        - name: STUDIO_ACCESSMODE
          value: {{ .Values.access_mode }}
        - name: DJANGO_SUPERUSER
          value: {{ include "studio.superuser" . }}
        - name: DJANGO_SUPERUSER_EMAIL
          value: {{ include "studio.superuser.email" . }}
        - name: DJANGO_SUPERUSER_PASSWORD
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: studio-superuser-password
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: studio-superuser-password
              {{- end }}
        - name: DJANGO_ADMIN_URL_PATH
          value: {{ .Values.studio.djangoAdminUrlPath }}
        - name: EVENT_USER_EMAIL
          value: {{ include "studio.eventuser.email" . }}
        - name: EVENT_USER_PASSWORD
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: event-user-password
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: event-user-password
              {{- end }}
        - name: GET_HOSTS_FROM
          value: dns
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: postgresql-password
              {{- else }}
              name: {{ include "studio.postgresql.secretName" . }}
              key: password
              {{- end }}
        - name: POSTGRES_USER
          {{- if .Values.bitwarden.enabled }}
          valueFrom:
            secretKeyRef:
              name: serve-bitwarden-secret
              key: postgresql-username
          {{- else }}
          value: {{ .Values.postgresql.auth.user }}
          {{- end }}
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: redis-password
              {{- else }}
              name: {{ include "studio.redis.secretName" . }}
              key: {{ include "studio.redis.secretPasswordKey" . }}
              {{- end }}
        {{ if .Values.studio.githubApiToken }}
        - name: GITHUB_API_TOKEN
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: github-api-token
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: github-api-token
              {{- end }}
        - name: GITHUB_API_USERNAME
          value: {{ .Values.studio.githubApiUsername | quote }}
        {{ else }}
        - name: GITHUB_API_TOKEN
          value: ""
        - name: GITHUB_API_USERNAME
          value: ""
        {{ end }}
        {{ if .Values.studio.dockerhubUsername }}
        - name: DOCKER_HUB_USERNAME
          value: {{ .Values.studio.dockerhubUsername | quote }}
        - name: DOCKER_HUB_TOKEN
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: docker-hub-token
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: docker-hub-token
              {{- end }}
        {{ else }}
        - name: DOCKER_HUB_USERNAME
          value: ""
        - name: DOCKER_HUB_TOKEN
          value: ""
        {{ end }}
        - name: ALTCHA_HMAC_KEY
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: altcha-hmac-key
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: altcha-hmac-key
              {{- end }}
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: rabbitmq-password
              {{- else }}
              name: {{ include "studio.rabbitmq.secretName" . }}
              key: rabbitmq-password
              {{- end }}
        {{- if .Values.chartcontroller.addSecret }}
        - name: KUBECONFIG
          value: {{ .Values.studio.kubeconfig_file | quote }}
        {{- end }}
        - name: DJANGO_SECRET
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: django-secret-key
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: django-secret-key
              {{- end }}
        {{ if .Values.studio.emailService.enabled }}
        - name: GOOGLE_SERVICE_ACCOUNT_TYPE
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-type
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-type
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PROJECT_ID
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-project-id
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-project-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_ID
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-private-key-id
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-private-key-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-private-key
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-private-key
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-client-email
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-client-email
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_ID
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-client-id
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-client-id
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_AUTH_URI
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-auth-uri
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-auth-uri
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_TOKEN_URI
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-token-uri
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-token-uri
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_AUTH_PROVIDER_X509_CERT_URL
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-auth-provider-x509-cert-url
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-auth-provider-x509-cert-url
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_CLIENT_X509_CERT_URL
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-client-x509-cert-url
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-client-x509-cert-url
              {{- end }}
        - name: GOOGLE_SERVICE_ACCOUNT_UNIVERSE_DOMAIN
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: email-google-service-account-universe-domain
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: email-google-service-account-universe-domain
              {{- end }}
        {{ end }}
        {{ if .Values.studio.invenioEnabled }}
        - name: INVENIO_URL
          {{- if .Values.studio.invenioUrl }}
          value: {{ .Values.studio.invenioUrl | quote }}
          {{- else }}
          value: https://invenio.{{ .Values.studio.domain }}
          {{- end }}
        - name: INVENIO_API_TOKEN
          valueFrom:
            secretKeyRef:
              {{- if .Values.bitwarden.enabled }}
              name: serve-bitwarden-secret
              key: invenio-token
              {{- else }}
              name: {{ include "studio.secretName" . }}
              key: invenio-token
              {{- end }}
        {{ else }}
        - name: INVENIO_URL
          value: ""
        - name: INVENIO_API_TOKEN
          value: ""
        {{- end }}
        image: {{ .Values.studio.image.repository }}:{{ .Values.studio.image.tag }}
        imagePullPolicy: {{ .Values.studio.image.pullPolicy }}
        name: {{ .Release.Name }}-studio
        volumeMounts:
          {{- if .Values.chartcontroller.addSecret }}
          - name: kubeconfig
            mountPath: {{ .Values.studio.kubeconfig_dir | quote }}
            readOnly: true
          {{- end }}
          - mountPath: /app/studio/settings.py
            subPath: settings.py
            name: {{ .Release.Name}}-settings-configmap
          {{ if .Values.studio.media.storage.mountStudio }}
          - name: mediavol
            mountPath: {{ .Values.studio.media.mount_path }}
          {{ end }}
          {{ if eq .Values.environment "local" }}
          - mountPath: /app
            name: sourcecode
          {{ end }}
        resources:
          limits:
            cpu: {{ .Values.studio.resources.limits.cpu }}
            memory: {{ .Values.studio.resources.limits.memory }}
          requests:
            cpu: {{ .Values.studio.resources.requests.cpu }}
            memory: {{ .Values.studio.resources.requests.memory }}
        {{- if .Values.studio.securityContext.enabled }}
        securityContext:
          runAsUser: {{ .Values.studio.securityContext.runAsUser }}
          runAsGroup: {{ .Values.studio.securityContext.runAsGroup }}
          allowPrivilegeEscalation: {{ .Values.studio.securityContext.allowPrivilegeEscalation }}
          privileged: {{ .Values.studio.securityContext.privileged }}
          capabilities:
            drop:
              - all
        {{- end }}
        {{- if .Values.studio.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: {{ .Values.studio.readinessProbe.httpGet.path }}
            port: {{ .Values.studio.readinessProbe.httpGet.port }}
            scheme: {{ .Values.studio.readinessProbe.httpGet.scheme }}
          initialDelaySeconds: {{ .Values.studio.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.studio.readinessProbe.periodSeconds }}
        {{- end }}
        {{- if .Values.studio.livenessProbe.enabled }}
        livenessProbe:
          tcpSocket:
            port: {{ .Values.studio.livenessProbe.tcpSocket.port }}
          initialDelaySeconds: {{ .Values.studio.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.studio.livenessProbe.periodSeconds }}
        {{- end }}

      restartPolicy: Always
      volumes:
      {{- if .Values.chartcontroller.addSecret }}
      - name: kubeconfig
        secret:
          secretName: {{ .Release.Name }}-chart-controller-secret
      {{- end }}
      - name: {{ .Release.Name}}-settings-configmap
        configMap:
          name: {{ .Release.Name}}-settings-configmap
          items:
          - key: settings.py
            path: settings.py
      {{ if .Values.studio.media.storage.mountStudio }}
      - name: mediavol
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-{{ .Values.studio.media.storage.claimName }}
      {{ end }}
      {{ if eq .Values.environment "local" }}
      - hostPath:
          path: {{ .Values.source_code_path }}
          type: Directory
        name: sourcecode
      {{ end }}
