apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appname }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      release: {{ $.Release.Name }}
      app: {{ .Values.appname }}
      project: {{ $.Values.project.slug }}
      type: app
      pod: {{ .Values.appname }}
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /metrics
        # prometheus.io/port: "8501"
      labels:
        release: {{ $.Release.Name }}
        access: {{ .Values.permission }}
        app: {{ .Values.appname }}
        project: {{ $.Values.project.slug }}
        networking/allow-internet-egress: "true"
        networking/allow-egress-to-studio-web: "true"
        type: app
        pod: {{ .Values.appname }}
    spec:
      {{ if index .Values.flavor.limits "nvidia.com/gpu" }}
      affinity:
        {{ .Values.affinity | toYaml | nindent 8 | trim }}
      {{ end }}
      automountServiceAccountToken: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        fsGroup: {{ .Values.appconfig.userid | default 1000 }}

      {{- if or .Values.apps.volumeK8s .Values.appconfig.startupCommand }}
      initContainers:
      {{- end}}
      {{- if .Values.apps.volumeK8s }}
      - name: copy-to-pvc
        image: {{ .Values.appconfig.image }}
        imagePullPolicy: IfNotPresent
        command:
          - /bin/sh
          - -c
          - |
            {{- $normPath := regexReplaceAll "/+$" $.Values.appconfig.path "" }}
            if [ ! -d "{{ $normPath }}" ]; then
                echo "Directory does not exist"
            elif [ -z "$(ls -A {{ $normPath }} 2>/dev/null)" ]; then
                echo "Empty directory. Nothing to copy."
            else
                echo "Copying data..."
                cp -r -n {{ $normPath }}/* /tmp
                echo "Done Copying"
            fi
        volumeMounts:
        {{- range $key, $value := .Values.apps.volumeK8s }}
        - name: {{ $key }}
          mountPath: /tmp
        {{- end }}
      {{- end }}
      {{- if .Values.appconfig.startupCommand}}
      - name: create-startup-script
        image: busybox
        command:
          - /bin/sh
          - -c
          - |
            echo "{{ .Values.appconfig.startupCommand }}" > /scripts/custom-start-script.sh;
            chmod +x /scripts/custom-start-script.sh;
        volumeMounts:
          - name: startup-script
            mountPath: /scripts
      {{- end}}
      containers:
      - name: {{ .Values.appname }}
        image: {{ .Values.appconfig.image }}
        imagePullPolicy: IfNotPresent
        command:
          - /bin/sh
          - -c
          {{- if .Values.appconfig.startupCommand }}
          - /scripts/custom-start-script.sh;
          {{- else }}
          - ./start-script.sh;
          {{- end }}

        ports:
          - containerPort: {{ .Values.appconfig.port }}
        securityContext:
          runAsNonRoot: true
          runAsUser:  {{ .Values.appconfig.userid | default 1000 }}
          runAsGroup: {{ .Values.appconfig.userid | default 1000 }}
          allowPrivilegeEscalation: false
          privileged: false
          capabilities:
            drop:
              - all
        resources:
          {{- toYaml .Values.flavor | nindent 10 }}
        {{- if or .Values.appconfig.startupCommand .Values.apps.volumeK8s }}
        volumeMounts:
        {{- end }}
        {{- if .Values.apps.volumeK8s }}
        {{- range $key, $value := .Values.apps.volumeK8s }}
        - name: {{ $key }}
          mountPath: {{ $.Values.appconfig.path }}
        {{- end }}
        {{- end }}
        {{- if .Values.appconfig.startupCommand}}
        - name: startup-script
          mountPath: /scripts
        {{- end}}
      terminationGracePeriodSeconds: 30
      {{ if index .Values.flavor.limits "nvidia.com/gpu" }}
      tolerations:
      - key: nvidia.com/gpu
        effect: NoSchedule
        operator: Exists
      {{ end }}
      dnsPolicy: ClusterFirst
      {{ if or .Values.apps.volumeK8s .Values.appconfig.startupCommand }}
      volumes:
      {{- end }}
      {{ if .Values.apps.volumeK8s }}
      {{- range $key, $value := .Values.apps.volumeK8s }}
      - name: {{ $key }}
        persistentVolumeClaim:
          claimName: {{ $value.release }}
      {{- end }}
      {{ end }}
      {{- if .Values.appconfig.startupCommand}}
      - name: startup-script
        emptyDir: { }
      {{- end}}